<?xml version="1.0" encoding="utf-8"?>
<Project>
    <PropertyGroup>
        <Configuration>Release</Configuration>
        <Platform>Any CPU</Platform>
        <DeleteExistingFiles>true</DeleteExistingFiles>
        <PublishProvider>FileSystem</PublishProvider>
        <PublishUrl>$(MSBuildProjectDirectory)\..\..\artifacts\desktop\linux-x64\</PublishUrl>
        <WebPublishMethod>FileSystem</WebPublishMethod>
        <_TargetId>Folder</_TargetId>
        <TargetFramework>net10.0</TargetFramework>
        <RuntimeIdentifier>linux-x64</RuntimeIdentifier>
        <SelfContained>true</SelfContained>
        <PublishSingleFile>false</PublishSingleFile>
        <PublishTrimmed>false</PublishTrimmed>
    </PropertyGroup>
</Project>
